  $xs: '480px';
  $sm: '576px';
  $md: '768px';
  $lg: '992px';
  $xl: '1200px';
  $xxl: '1600px';
.container {
  overflow-x: hidden;
  height: 100vh;
  :global{
	.ant-layout-sider-children {
			margin-top: 12px;
	}
	.ant-card-head-title {
		font-weight: 600;
		font-size: 1.5rem;
	}
  }
}
.content {
  display: flex;
}

.sideBar {
  width: 280px;
  background-color: white;
  box-shadow: -1px 3px 9px 0px #eee;
}

.children{
  flex: auto;
  padding: 5rem 4rem;
@media (max-width: $md) {
		padding: 1rem;
	}
}
.siteLayoutBackground{
	background-color: #f6f7ff;
	margin-left: 288px;
	@media (max-width: $md) {
			margin-left: 80px;
		}
}
.siteHeaderBackground{
	height: 68px;
	background-color: #fbfdff;
	display: flex;
	align-items: center;
	position: sticky;
	z-index: 99;
	top: 0;
}