.header {
  margin: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft{
  flex: 1;
}
.headerRight{
  display: flex;
  flex: 5;
  padding: 3rem 2rem 2rem 2rem ;
  h3 {
    flex: 6;
  }
}
