.container {
  display: flex;
  flex-direction: column;
padding: 3.5rem 1.5rem;  
}

.menu {
	:global {
		.ant-menu-item.ant-menu-item-selected {
			background-color: #f5f6ff;
			border-radius: 0.8rem;
		}

		.ant-menu-item, .ant-menu-submenu {
			color: #8c8d95;
		}
		.anticon {
			color: #8c8d95;
		}
		.ant-menu-submenu-selected, .ant-menu-item-selected{
			color: #5c5fee;
		}
		.ant-menu-item.ant-menu-item-selected .ant-menu-item-icon, 
		.ant-menu-submenu-selected .ant-menu-item-icon{
			color: #5c5fee;
		}
		.ant-menu-vertical .ant-menu-item-selected::after {
			border-right: 3px solid #6521ff;
			transform: scaleY(1);
			opacity: 1;
		}
		.ant-menu-item:active,
		.ant-menu-submenu-title:active {
			background: #f5f6ff;
		}
		.ant-menu-sub.ant-menu-inline>.ant-menu-item,
		.ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title{
			padding-left: 76px !important;
		}
	}
}

.sidebar {
	background-color: #fff;
	box-shadow: -1px 3px 20px 3px #eee;
	position: absolute;
	z-index: 999;
	height: 100vh;
}