.chatMessageCover{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	max-width: 300px;
	gap: 10px;
}
.avatarCover{
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: 9px;
	:global{
		.ant-avatar-image{
			margin: 0px !important;
		}
		.ant-typography{
			align-self: flex-start;
		}
	}
}
.messageTextCover {
    flex: 9;
}
.textMessage{
    padding: 1.8rem;
    background-color: #eee;
    border-radius: 3rem;
    display: block;
    font-size: 1.3rem;
}
.chatMeta{
	display: flex;
	flex-direction: column;
}
.messageDate{
	margin-top: -5px;
}