.container{
    display: flex;
    flex-direction: column;
    
}

.gridContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.active {
    color:greenyellow
}
.deferred {
    color:grey
}
.deferredR {
    color:red
}