/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 10px !important;
}

.ant-select-selector {
	border: none !important;
	height: 100% !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
	line-height: 4rem;
}

/* span.ant-input-group-addon {
  border: 0px;
} */
.anticon {
	color: blue;
	margin: 0px 10px 0px 0px;
}

.anticon .anticon-key {
	transform: rotate(179deg);
}

.anticon svg {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}

.ant-form-item {
	margin-bottom: 0;
}
.ant-input-group {
	margin-bottom: 10px;
}
.ant-menu-inline .ant-menu-item::after {
	border-right: 3px solid #6521ff;
}
.ant-upload.ant-upload-select-picture-card {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	margin-top: 8px;
}
.ant-picker-range {
	width: 100%;
	overflow: hidden;
	box-shadow: 1px 3px 10px #eee;
	height: 50px;
	font-weight: 400;
	color: #8b8888;
	padding: 8px;
	border: 1px solid #eee;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 2rem !important;
	font-size: small;
}
.ant-table-thead>tr>th {
	font-weight: 600;
}
.MobileMenuTrigger {
	display: none;
	position: absolute;
	right: -57px;
	top: 2px;
	z-index: 99;
	background: #ffff;
	padding: 2.3rem 1rem;
}
/* .ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
	padding: 0 calc(50% - 230px / 2) !important;
} */
.ant-btn-primary:hover,
.ant-btn-primary:focus {
	color: #fff;
	border-color: #4149e5;
	background: #4149e5;
}
@media (max-width: "786px") {
	.MobileMenuTrigger {
		display: block;
	}
	.ant-menu.ant-menu-inline-collapsed>.ant-menu-item,
	.ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
	.ant-menu.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title,
	.ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title{
		padding: 0 calc(50% - 36px / 2);
	}
}
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cac8c8;
	border-radius: 20px;
}

@import 'antd/dist/antd.css';