/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lato&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 10px !important;
}

.ant-select-selector {
	border: none !important;
	height: 100% !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
	line-height: 4rem;
}

/* span.ant-input-group-addon {
  border: 0px;
} */
.anticon {
	color: blue;
	margin: 0px 10px 0px 0px;
}

.anticon .anticon-key {
	transform: rotate(179deg);
}

.anticon svg {
	width: 20px;
	height: 20px;
	margin-left: 6px;
}

.ant-form-item {
	margin-bottom: 0;
}
.ant-input-group{
	margin-bottom: 10px;
}
.ant-menu-inline .ant-menu-item::after {
	border-right: 3px solid #6521ff;
}
/* .ant-select-auto-complete input{
	border-radius: 2rem;
	margin-top: 10px;
	border: 1px solid #b9b6b6;
} */
.ant-input-group-addon:first-child {
	border-radius: 2em 0 0 2em;
}
.ant-input-group-addon:last-child {
	border-radius: 0 2em 2em 0;
}
.ant-input-group-addon .anticon svg{
	width: 12px;
	height: 12px;
	margin-top: 3px;
	margin-right: 5px;
}
.ant-picker-range{
	border-radius: 2rem;
	padding: 0.8rem;
	margin-top: 10px;
	width: 100%;
	border: 1px solid #b9b6b6;
}
.ant-input-group-addon {
	position: relative;
	padding: 0;
	color: rgba(0, 0, 0, 0.85);
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	transition: all 0.3s;
}
.ant-input-group-addon .ant-select {
	margin: -3px 13px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	padding: 0 1px;
}
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cac8c8;
	border-radius: 20px;
}

@import 'antd/dist/antd.css';