.profileContainer {
    display: flex;
}
.userInfo, .otherInfo {
    flex: 5;
}
.otherInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info{
    flex:auto;
}
.profileCard{
    padding: 3rem;
    height: 100%;
    border-radius: 25px;
    margin: 8px;
    text-align: center;
}
.assignmentCard,
.chatBoardCard {
    padding: 1rem 3rem 3rem;
    height: 100%;
    border-radius: 25px;
    margin: 8px;
}