.profileContainer {
    display: flex;
}
.userInfo, .otherInfo {
    flex: 5;
}
.otherInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info{
    flex:auto;
}
.avatarCover{
    text-align: center;
    padding: 2rem;
}
.userInfoCover{
    padding: 3rem;
}
.label{
    font-size: 16px;
}
.buttonCover{
    width: 25em;
    margin:2em auto;
}
.cardContainer{
    padding: 3rem;
}
/* .profileCard{
    padding: 3rem;
    height: 100%;
    border-radius: 25px;
    margin: 8px;
    text-align: center;
}
.assignmentCard,
.chatBoardCard {
    padding: 1rem 3rem 3rem;
    height: 100%;
    border-radius: 25px;
    margin: 8px;
} */